streamlit==1.45.1
streamlit-authenticator==0.4.2

langchain==0.3.25
langchain-community==0.3.25
langchain-openai==0.3.21
langchain-pinecone==0.2.8

pinecone==7.0.2
openai==1.82.0

pypdf
python-dotenv
PyYAML

numpy==1.26.4